
.animate-spin {
  -moz-animation: spin 0.8s 1 linear;
  -o-animation: spin 0.8s 1 linear;
  -webkit-animation: spin 0.8s 1 linear;
  animation: spin 0.8s 1 easy;
    animation-fill-mode: backwards;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    50% {
        -moz-transform: rotate(150deg);
        -o-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    50% {
        -moz-transform: rotate(150deg);
        -o-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    50% {
        -moz-transform: rotate(150deg);
        -o-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

    50% {
        -moz-transform: rotate(150deg);
        -o-transform: rotate(150deg);
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
    }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
